<style type="text/css">
    body {  background-color: #2EB8E6;}
</style>
        <div class="container-twitter container-fluid">
            <div id="heading" class = "h2 text-center">{{screen_name}}'s Recent Posts</div>
            {{#each posts}}
            <div class ="row">
                <div class="col-md-offset-4 col-md-4 tweetframe">
                    {{text}}
                </div>
            </div>
            {{/each}}
        </div>

