
        <div class="container-twitter container-fluid">
            <div id="heading" class = "h1 text-center">{{screen_name}}'s Recent Posts</div>
            {{#each posts}}
                <div class="tweetframe">
                    {{text}}<br>
                </div>
            {{/each}}
        </div>

